@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sriracha&display=swap');

*{
    margin: 0;
    padding: 0;
}
.apresentacao{
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao-conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentacao-titulo{
    font-size: 36px;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.apresentacao-texto{
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}

.apresentacao-links{
    display: flex;
    justify-content: space-between;
}

.apresentacao-links-link{
    background-color: #22D4FD;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    padding: 21.5px 0px;
    text-decoration: none;
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}
body{
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

span{
    color: #22D4FD;
    padding: 10px;
}